<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if current_user.is_authenticated %}
  <a href="/history">History</a> |
  <a href="/logout">Logout</a>
{% else %}
  <a href="/login">Login</a> |
  <a href="/register">Sign up</a>
{% endif %}
    <h1>Upload Your Resume</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="resume" accept=".pdf,.docx" required><br><br>
        <input type="submit" value="Upload Resume">
        
        
    
    </form>
</body>
</html>
